<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST EXPRESS</title>
  </head>
  <body>
    <h1>HELLO HERBIFY! This is Rudolf</h1>
    <p>web socket test!</p>
    <label for="pub-msg" style="margin: 10px;">Input Your Message</label><br>
    <input type="text" name="pub-msg" id="pub-msg" style="margin: 10px;"><br>
    <button onclick="pub_msg()" style="margin-left: 10px;">send</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      socket.on(`hello-from-server`, (message) => {
        console.log(message);
        socket.emit("hello-from-client", {
          hello: "Hello FROM Client",
        });
      });

      const pub_msg = () => {
        msg = document.querySelector('#pub-msg').value;
        console.log(msg);
        socket.emit('msg', {
            message: msg
        })
        msg = "DONE";
      }
    </script>
  </body>
</html>
